.list-group {
    margin-top: 100px;
    margin-left: 250px;
    width: 22%;
    max-width: 600px;
    border-radius: 35px !important;
  }

  .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px !important; 
    padding: 15px 20px !important; 
  }
  


  